


<div class="row">
  <div class="col-sm-6">
    <h1>Org Chart</h1>
  </div>
  <div>
    <form><input type="date" name="effective_date" value="<%= @current_date %>"/><input type="submit" /></form>
  </div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.0.0/build/d3-flextree.js"></script>
  <div class="chart-container"></div>

  <script>
    var chart;
    var org_data = <%= raw(@flat_org_chart.to_json) %>
      chart = new d3.OrgChart()
        .container('.chart-container')
        .data(org_data)
        .nodeContent(function (d, i, arr, state) {
          const svgStr = `<svg width=150 height=75  style="background-color:none"> <path d="M 0,15 L15,0 L135,0 L150,15 L150,60 L135,75 L15,75 L0,60" fill="#2599DD" stroke="#2599DD"/> </svg>`
          return `
                          <div class="left-top" style="position:absolute;left:-10px;top:-10px">  ${svgStr}</div>
                          <div class="right-top" style="position:absolute;right:-10px;top:-10px">  ${svgStr}</div>
                          <div class="right-bottom" style="position:absolute;right:-10px;bottom:-14px">  ${svgStr}</div>
                          <div class="left-bottom" style="position:absolute;left:-10px;bottom:-14px">  ${svgStr}</div>
                          <div style="font-family: 'Inter'; background-color:#040910;sans-serif; position:absolute;margin-top:-1px; margin-left:-1px;width:${d.width}px;height:${d.height}px;border-radius:0px;border: 2px solid #2CAAE5">

                             <div class="pie-chart-wrapper" style="margin-left:-10px;margin-top:5px;width:320px;height:300px"></div>

                            <div style="color:#2CAAE5;position:absolute;right:15px;top:-20px;">
                              <div style="font-size:15px;color:#2CAAE5;margin-top:32px"> ${d.data.first_name} ${d.data.last_name} </div>
                              <div style="font-size:10px;"> ${d.data.title || ''} </div>
                            </div>

                            <div style="position:absolute;left:-5px;bottom:10px;">
                              <div style="color:#2CAAE5;margin-left:20px;margin-top:3px;font-size:10px;">
                                </div>
                            </div>
                          </div>

  `;
        })
        .render();
  </script>
</div>

